/*
  This file should define all fonts used in your project
 */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
    font-family: Amaranth;
    src: url('./font/Amaranth/Amaranth-Regular.ttf');
}

@font-face {
    font-family: AmaranthItalic;
    src: url('./font/Amaranth/Amaranth-Italic.ttf');
}

@font-face {
    font-family: AmaranthBold;
    src: url('./font/Amaranth/Amaranth-Bold.ttf');
}

@font-face {
    font-family: AmaranthBoldItalic;
    src: url('./font/Amaranth/Amaranth-BoldItalic.ttf');
}