/*
  This file should define all variables for fonts and colors
 */

@import "color";
@import "font";

/* Color */
$primary-color: $apple-blossom;
$highlight-color: $bermuda;
$text-color: $holly;

/* Font */
$primary-font: 'Amaranth';
$highlight-font: 'AmaranthBold';